<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>

<body>

  <div class="Header">
    <h1>Klein Kodes</h1>
  </div>




  <br>

  <br>

  <div id="after title">

    <img src="../static/assets/Klein Business Pics/Klein - Klein Kodes bg - 4k.png" width="100" height="100"
      style="float:right">





    <a href="https://play.google.com/store/apps/details?id=com.kleinkodes.quench" target="_blank"><b>Download
        Quench</b></a>

    <br>
    <br>
    <a href="https://play.google.com/store/apps/dev?id=7628851410487794229" target="_blank"><b>Developer Page</b></a>

    <br>
    <a href="https://github.com/KleinKodes" target="_blank"><b>Github</b></a>
    <br>
    <a href="https://www.linkedin.com/in/klein-harrigan-8195825a/" target="_blank"><b>LinkedIn</b></a>

    <br>
    <br>
    <hr>
    <h2>Check out my public creations:</h2>
    <ul>
      <li><a href="https://github.com/kamilgeagea/hope-uoft-hacks-2022" target="_blank"><b>Hope</b></a></li>


    </ul>
  </div>



</body>

</html>